body {
  @apply p-0 m-0 font-sans;
}

//  Typography
a {
  @apply text-brand-blue transition-all duration-500 cursor-pointer;
  &:hover {
    @apply text-gray-800;
  }
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  @apply m-0;
}

.central {
  @apply mx-auto px-6 relative;
  max-width: 1100px;
}

i {
  @apply inline-block;
}

nav {
  a {
    @apply text-black py-2 px-2;
    &:hover {
      @apply text-brand-blue;
    }
  }
  .login {
    @apply text-brand-blue;
    &:hover {
      @apply text-gray-800;
    }
  }
}

.msg {
  @apply mb-2 rounded border py-4 px-6 text-center text-xs tracking-wider;
  &.success {
    @apply border-green-300 bg-green-200 text-green-600;
  }
  &.error {
    @apply border-red-300 bg-red-200 text-red-600;
  }
}

.btn {
  @apply text-white bg-brand-blue py-3 px-5 inline-block;
  &:hover {
    @apply text-white bg-gray-800;
  }
  &.lite {
    @apply text-brand-blue bg-white border-solid border-2 border-white;
    &:hover {
      @apply text-white bg-transparent;
    }
  }
  &.huge {
    @apply bg-brand-blue text-white rounded-xl px-16 py-6 text-3xl;
    &:hover {
      @apply text-white bg-dark-800;
    }
  }
  &.hugeb {
    @apply bg-dark-900 text-white rounded-xl px-16 py-6 text-3xl;
    &:hover {
      @apply text-white bg-dark-800;
    }
  }
  &.drop {
    @apply text-brand-blue bg-white border-solid font-extrabold border-1 border-gray-300;
    &:hover {
      @apply text-white bg-gray-800;
    }
  }
  &.logout {
    @apply text-red-600;
  }
  &.black {
    @apply bg-black;
  }
}

.profile {
  @apply rounded-full bg-brand-blue text-center p-2 text-sm text-white font-bold b-solid b b-4 b-blue-900;
  &:hover {
    @apply text-white bg-blue-900 b-black;
  }
}

.userin {
  // @apply grid grid-rows-2;
  user-select: none;
}

.banner {
  @apply h-120;
  background: url(../img/bg.jpeg) center / cover;
}

.banner_ {
  @apply h-160 absolute top-0 right-6;
  background: url(../img/bg_.jpeg) left / cover;
}

.blu {
  @apply py-25;
  background: url(../img/blu.jpeg) left / cover;
}

// Forms

form {
  input {
    @apply p-3.5 border-solid border-gray-200 bg-gray-100 text-gray-900 box-border;
  }
  button {
    @apply bg-brand-blue hover:bg-blue-700 text-white font-semibold py-4 px-6 border-brand-blue border-solid cursor-pointer whitespace-nowrap;
  }
}

aside {
  @apply w-56 min-h-120 rounded-md bg-blue-900 text-white pt-8 mb-12;
  a {
    @apply text-white py-3 px-8;
    &:hover {
      @apply text-white bg-white bg-opacity-15 opacity-70;
    }
  }
  &.tutor {
    @apply bg-gray-900;
  }
}
